<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj profil</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Edytuj profil</h1>
        <div class="actions">
            <a class="btn" th:href="@{/user/profile}">Anuluj</a>
            <a class="btn" th:href="@{/home}">Strona główna</a>
        </div>
    </div>

    <form th:action="@{/user/update}" th:object="${klient}" method="post">
        <div class="form-group">
            <label for="telefon">Telefon: *</label>
            <input type="text" id="telefon" th:field="*{telefon}">
            <p th:if="${#fields.hasErrors('telefon')}" class="alert alert-error" th:errors="*{telefon}">Błąd</p>
        </div>

        <div class="form-group">
            <label for="email">Email: *</label>
            <input type="email" id="email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" class="alert alert-error" th:errors="*{email}">Błąd</p>
        </div>

        <div class="actions">
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
            <a class="btn" th:href="@{/user/profile}">Anuluj</a>
        </div>
    </form>
</div>
</body>
</html>
